# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/

# Ignore environment files
.env
.env.local

# Ignore IDE/Editor files
.idea/
.vscode/

# Ignore npm debug log
npm-debug.log

# Ignore npm lock file
package-lock.json